%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OpenShindan - Question
  %body
    %h1 Questions
    =link_to new_question_path do
      New

