%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OpenShindan - Question
  %body
    %h1 New Question
    = form_for @question, :url => {:controller => 'questions', :action => 'index'} do |form|
      = form.label :title
      = form.text_field :title
      %br
      = form.submit "Create Question"