%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OpenShindan - Shindans
  %body
    %h1 Questions
    =link_to new_shindan_path do
      New

